[Desktop Entry]
Categories=Utility;TextEditor;Development;IDE
Comment=Code Editing. Redefined.
Exec=/home/maxdevjs/.nix-profile/bin/code --open-url %U
GenericName=Text Editor
Icon=/home/maxdevjs/Me/system/setup/vscode/code.png
Keywords=vscode
MimeType=x-scheme-handler/vscode
Name=Visual Studio Code - URL Handler
NoDisplay=true
StartupNotify=true
Type=Application
Version=1.4
